body{
  font-family: "Helvetica Neue", Helvetica;
}

.picker{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 720px;
  height: 180px;
}
#display{
  width: 100%;
  height: 100px;
  background: #730aa2;
  transition: background 100ms;
  margin-top: 30px;
  border: 1px solid #000;

}

input{
  display: block;
  width: 100%;
}